app = 'laufendentdecken-frontend'
primary_region = 'fra'

[build]
  [build.args]
    NODE_VERSION = '22'

[env]
  PORT = '8080'
  HOST = '0.0.0.0'
  NODE_ENV = 'production'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
